# Treat FSPS data as not code for language statistics
data/*/*.cont linguist-detectable=false
data/*/*.dat linguist-detectable=false
data/*/*.lambda linguist-detectable=false
data/*/*.lines linguist-detectable=false
data/*/*.mass linguist-detectable=false
data/*/*.res linguist-detectable=false
data/*/*.SED linguist-detectable=false
data/*/*.spec linguist-detectable=false
data/*/*.teff linguist-detectable=false

# Explicitly mark binary data
*.spectra.bin binary
*.bin binary

# Explicitly mark various other files
packaging/fsps.spec linguist-language=Specfile

# Once OUTPUTS is gone, get rid of this
OUTPUTS/*/*.mags linguist-detectable=false
OUTPUTS/*/*.out linguist-detectable=false
OUTPUTS/*/*.spec linguist-detectable=false